footer {
    font-family: fantasy;
    position: relative;
    bottom: 100;
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 87, 95);
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
}