@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: rgb(42, 42, 250);
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
    
}



li {
    list-style: none;
}

body {
    background-color: rgb(0, 225, 255);
}

a {
    text-decoration: none;
    color: white;
}

.menuInicio {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.titulo_principal {
    color: aliceblue;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 90px;
    text-align: center;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
    padding: 2rem;
}

.subtitulo {
    display: flex;
    padding: 2rem;
    align-items: ;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
    color: rgb(13, 70, 119);

}
.
.imgytexto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0px 60px 0;

}

.imgindex {
    height: 300px;
    padding: 10px;
}

.textoindex {
    display: flex;
    padding: 150px;
    align-items:;
    text-align: justify;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
    color: rgb(13, 70, 119);
}

.subtitulo2 {
    display: flex;
    padding: 5%;
    align-items:;
    justify-content: center;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
    color: rgb(13, 70, 119);
    padding-bottom: 1rem;

}

.subtitulo3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
    color: rgb(13, 70, 119);
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;

}

.textosobrenosotros {
    display: flex;
    padding: 100px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
    color: rgb(13, 70, 119);
}

.video1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.subtitulo4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
    color: rgb(13, 70, 119);
    padding-bottom: 1rem;
    padding-left: 21rem;
    padding-right: 10rem;
}

.posicionimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1px 0px 60px ;
}

.imgytexto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.nombre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.edad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instrumento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.correo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rellenoform {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Textocontacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;
}

.posicionformulario {
    padding: 30px;
}

.maps1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 80px 0;
}

.footer_position {
    position: relative;
    bottom: 100;
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    height: 3rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 110, 250);
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Heebo', sans-serif;

    
}

